# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 

Master/Temp/
Master/Obj/
Master/UnityGenerated/
Master/Library/



Slave/Temp/
Slave/Obj/
Slave/UnityGenerated/
Slave/Library/

StuartClient/Temp/
StuartClient/Obj/
StuartClient/UnityGenerated/
StuartClient/Library/


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db